

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------END RESET---------------- */





#headerspan{
	background-color:black;
	width:100%;
	height:100px;
	opacity: .8;
    position: fixed;
}



#header{
	height:60px;
	margin: 0 auto;
	width:70%;
	margin-top: 24px;
	
}

#logo{
	width: 100%;
	float: left;
	text-align:center;
}


h1{
	text-align:center;
	font-weight:300;
	font-family: 'Raleway', sans-serif;
	color:white;
	font-size: 1.8em;
	text-transform:uppercase;
	letter-spacing: 3px;
}
#leftlispan{
	width:33%;
	float:left;
	
	height: 100%;
}
#lispan{
	width:33%;
	float:left;
	
	
	
}
#rightlispan{
	width:33%;
	float:right;
	
	height: 100%;


}

#lefticon{width:33%;
	float:left;
	margin-top: 10px;
	height: 100%;}
#righticon{width:33%;
	float:right;
	margin-top: 10px;
	height: 100%;
}


#work{width: 40%;
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	color:white;
	text-transform:uppercase;
	padding: 8px;
	border: solid white 2px;
	text-align: center;
	font-size: 1em;
	
}

#about{width: 40%;
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	color:white;
	text-transform:uppercase;
	padding: 8px;
	border: solid white 2px;
	text-align: center;	
	font-size: 1em;
	float:right;
}
#abouticon{
	float:right;
	margin: 0 auto;
	width: 28px;
	padding: 6px;
	border: solid white 2px;	
}
#exit{
	margin: 0 auto;
	float:left;
	width: 20px;
	padding: 10px;
	border: solid white 2px;
}
#imagesspan{
	width:50%;
	background-color:white;
	margin: 0 auto;
	height: 100%;
	
}
#iPhone{width:90%;
margin: 5%;	
}

img{width:100%;
	margin-top: 10px;
}
#margin{
	height: 110px;
	width: 10px;
}
#thumbnailspan{
	margin-top: 110px;
	width:80%;
	height:100%;
	background-color:white;
	margin: 0 auto;
	text-align: center;

}
#thumbnails{
display: inline-block;
opacity: 1;
}

#clear{width:100%;
	clear: both;
	height:10px;
}

.thumbnail{
	width: 200px;
	display:inline-block;
	margin:30px;
	opacity: 1;
}

h2{font-family: 'Raleway', sans-serif;
	font-weight:600;
	text-transform: uppercase;
	padding-top:33px;
	padding-bottom:5px;
	float: clear;
	text-align:center;
	width: 100%;
	color: black;
	background-color:white;
	font-size:1.2em;
}
#rule{width:60%;
	background-color:black;
	height: 2px;
	margin:7px auto;
}
h3{
	font-family:Georgia;
	font-size: .9em;
	padding:3px;
	line-height: 100%;
	text-transform: uppercase;
	font-weight:bold;
	text-align: center;
	letter-spacing: 2px;
}

#bio{
	width: 50%;
	margin: 0 auto;
}
#paragraph{
	width:70%;
	margin: 0 auto;
	height: 100%;	
	background-color: white;
	clear: both;
}
a{
	text-decoration: none;
}
a:hover{color:maroon;}

	font-family:Georgia;
	font-size: .85em;
	width:100%;
	padding: 10px;
	line-height:120%;
}
a{color:gray;}
em{font-weight:bold;}
#me{width:70%;
	margin:5% 15%;}
	
	

	
#footerspan{
	width:100%;
	height:30px;
	background-color:black;
	position: relative;
	bottom: 0px;
	margin: 0 auto;
	margin-top:30px;
}	

#copyright{
	padding:7px;
	font-size: .7em;
	color: white;
	width:70%;
	margin: 0 auto;
}
	


@media screen and (min-width:600px) { 
#iPhone{display:none;}
}

@media screen and (max-width:700px) { 
	#thumbnailspan{width:100%;}
	#imagesspan{width:100%;}

	#paragraph{width:70%;}
	#rightlispan{margin-top:10px;}
	#leftlispan{margin-top:10px;}
}


@media screen and (max-width:600px) { 
	#thumbnailspan{width:100%;}
	#imagesspan{width:100%;}
	h1{font-size: 1.5em;
	}
	#about{font-size:.75em;
		margin-right: 4px;}
	#work{font-size:.75em;
		margin-left: 4px;}
	#header{width: 100%;}
	#paragraph{width:70%;}
	#computer{display:none}
	#lispan{margin-top:8px;}
	}
	#rightlispan{margin-top:10px;}
	#leftlispan{margin-top:10px;}














/*----swipebox css------*/






/*! Swipebox v1.3.0 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */
html.swipebox-html.swipebox-touch{overflow:hidden!important}
#swipebox-overlay img{border:none!important}
#swipebox-overlay{
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:99999!important;
	overflow:hidden;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
	}
#swipebox-container{
	position:relative;
	width:100%;
	height:100%
	}
#swipebox-slider{
	-webkit-transition:-webkit-transform .4s ease;
	transition:transform .4s ease;
	height:100%;
	left:0;
	top:0;
	width:100%;
	white-space:nowrap;
	position:absolute;
	display:none;
	cursor:pointer
	}
#swipebox-slider .slide{
	height:100%;
	width:100%;
	line-height:1px;
	text-align:center;
	display:inline-block;
	}
#swipebox-slider .slide:before{
	content:"";
	display:inline-block;
	height:50%;
	width:1px;
	margin-right:-1px
	}
#swipebox-slider .slide .swipebox-video-container,#swipebox-slider .slide img{
	display:inline-block;
	max-height:100%;
	max-width:100%;
	margin:0;
	padding:0;
	width:auto;
	height:auto;
	vertical-align:middle
	}
#swipebox-slider .slide .swipebox-video-container{
	background:0 0;
	max-width:1140px;
	max-height:100%;
	width:100%;
	padding:5%;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	}
#swipebox-slider .slide .swipebox-video-container .swipebox-video{
	width:100%;
	height:0;
	padding-bottom:56.25%;
	overflow:hidden;
	position:relative
	}
#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe{
	width:100%!important;
	height:100%!important;
	position:absolute;
	top:0;left:0
	}
#swipebox-slider .slide-loading{
	background:url(images/loader.gif) no-repeat center center
	}
#swipebox-bottom-bar,#swipebox-top-bar{
	-webkit-transition:.5s;
	transition:.5s;
	position:absolute;
	left:0;
	z-index:999;
	height:50px;
	width:100%;
	}
#swipebox-bottom-bar{
	bottom:-50px;
	}
#swipebox-bottom-bar.visible-bars{
	-webkit-transform:translate3d(0,-50px,0);
	transform:translate3d(0,-50px,0)
	}
#swipebox-top-bar{
	top:-50px
	}
#swipebox-top-bar.visible-bars{
	-webkit-transform:translate3d(0,50px,0);
	transform:translate3d(0,50px,0);
	}
#swipebox-title{
	display:block;
	width:100%;
	text-align:center;
	}
#swipebox-close,#swipebox-next,#swipebox-prev{
	background-image:url(../images/icons.png);
	background-repeat:no-repeat;border:none!important;
	text-decoration:none!important;
	cursor:pointer;
	width:50px;
	height:50px;
	top:0
	}
#swipebox-arrows{
	display:block;
	margin:0 auto;
	width:100%;
	height:50px
	}
#swipebox-prev{
	background-position:-32px 13px;
	float:left
	}
#swipebox-next{
	background-position:-78px 13px;
	float:right
	}
#swipebox-close{
	top:0;
	right:0;
	position:absolute;
	z-index:9999;
	background-position:15px 12px;
	}
.swipebox-no-close-button #swipebox-close{
	display:none
	}
#swipebox-next.disabled,#swipebox-prev.disabled{opacity:.3}
.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider{
	-webkit-animation:rightSpring .3s;
	animation:rightSpring .3s
	}
.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider{
	-webkit-animation:leftSpring .3s;
	animation:leftSpring .3s
	}
.swipebox-touch #swipebox-container:after,.swipebox-touch #swipebox-container:before{
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
	-webkit-transition:all .3s ease;
	transition:all .3s ease;
	content:' ';
	position:absolute;
	z-index:999;
	top:0;
	height:100%;
	width:20px;
	opacity:0;
	}
.swipebox-touch #swipebox-container:before{
	left:0;
	-webkit-box-shadow:inset 10px 0 10px -8px #656565;
	box-shadow:inset 10px 0 10px -8px #656565
	}
.swipebox-touch #swipebox-container:after{
	right:0;
	-webkit-box-shadow:inset -10px 0 10px -8px #656565;
	box-shadow:inset -10px 0 10px -8px #656565
	}
.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before,.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after{
	opacity:1
	}
@-webkit-keyframes rightSpring{0%{left:0}50%{left:-30px}100%{left:0}}
@keyframes rightSpring{0%{left:0}50%{left:-30px}100%{left:0}}
@-webkit-keyframes leftSpring{0%{left:0}50%{left:30px}100%{left:0}}
@keyframes leftSpring{0%{left:0}50%{left:30px}100%{left:0}}
@media screen and (min-width:800px){
#swipebox-close{right:10px}
#swipebox-arrows{
	width:92%;
	max-width:800px}
}
	
#swipebox-overlay{background:#0d0d0d}
#swipebox-bottom-bar,#swipebox-top-bar{
	text-shadow:1px 1px 1px #000;
	background:#000;
	opacity:.95}
#swipebox-top-bar{
	color:#fff!important;
	font-size:15px;
	line-height:43px;
	font-family:Helvetica,Arial,sans-serif}
	
	
	
	
	
