

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------END RESET---------------- */



#wrapper{
	background-color:mistyrose;
	width:100%;
	height:100%;
	border-bottom:solid maroon 2px;
	
}


#headerspan{
	background-color:mistyrose;
	width:100%;
	height:100%;
	border-bottom:solid maroon 2px;
}
#header{
	height:100px;
	margin: 0 auto;
	width:70%;
}
#logo{
	width: 100%;
	float: left;
	text-align:center;
}
h1{
	text-align:center;
	font-weight:600;
	font-family: 'Raleway', sans-serif;
	color:maroon;
	font-size: 2em;
	text-transform:uppercase;
}
#leftlispan{
	width:33%;
	float:left;
	margin-top: 30px;
}
#lispan{
	width:33%;
	float:left;
	margin-top: 20px;
}
#rightlispan{
	width:33%;
	float:right;
	margin-top: 30px;
}

#work{width: 40%;
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	color:maroon;
	text-transform:uppercase;
	padding: 8px;
	border: solid maroon 2px;
	margin: 0 auto;
	text-align: center;
	font-size: 1em;
	
}

#about{width: 40%;
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	color:maroon;
	text-transform:uppercase;
	padding: 8px;
	border: solid maroon 2px;
	margin: 0 auto;
	text-align: center;	
	font-size: 1em;
}
#enlarge{
	float:left;
	width: 10px;	
}
#exit{
	float:right;
	width: 10px;
}
#imagesspan{
	width:70%;
	background-color:mistyrose;
	margin: 0 auto;
	height: 100%;
}
#images{
	width:100%;
	height: 100%;	
}
#thumbnailspan{
	width:70%;
	height:100%;
	background-color:maroon;
	margin: 0 auto;
}
#thumbnails{
	width:100%;
	height:100%;
	margin:0 auto;
}

#clear{width:100%;
	clear: both;
	height:10px;
}
.thumbnail{
	width: 200px;
	float: left;
	margin:5%;
}
img{
	width: 90%;
	margin: 5%;
}
h2{
	font-family: 'Raleway', sans-serif;
	font-weight:600;
	color:maroon;
	text-transform: uppercase;
	padding-top:20px;
	padding-bottom:20px;
	float: clear;
	text-align:center;
	width: 100%;
	color: white;
	background-color:maroon;
}
h3{
	font-family:Georgia;
	font-size: 1em;
	padding:10px;
	line-height: 100%;
}
#paragraph{
	width:50%;
	margin: 0 auto;
	height: 100px;	
	background-color: white;
	float: clear;
	
}
p{
	font-family:Georgia;
	font-size: .9em;
	width:100%;
	padding: 10px;
	line-height:120%;
	
}
@media screen and (max-width:600px) { 
	#thumbnailspan{width:100%;}
	#imagesspan{width:100%;}
	h1{font-size: 1.5em;
	}
	#about{font-size:.75em;}
	#work{font-size:.75em;}
	#header{width: 100%;}
	#paragraph{width:70%;}
}